
*{
    margin: 0;
    padding: 0;
}
#container{
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
}
thead{
  
     height: 50px;
     width: 80%;
     font-size: 30px;
    background-color: orange;
}
#navbar a{
    list-style: none;
    font-size: 30px;
    color: rgb(30, 0, 255);
   cursor: pointer;
   width: 10%;
}
#navbar{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
    width: 100%;
    height: 50px;
    background-color: rgb(161, 228, 28);
    
    margin-right: 100px;
 }
 #categoryFilter{
    height: 40px;
    font-size: 30px;
    margin-left: 50%;
   
    margin-bottom: -100px;
    margin-top: 50PX;
 }